<div class="container text-center">
  <div class="row mt-5 mb-5">
    <div class="col-1"></div>
    <div class="col-10">
      <%= render 'layouts/navbar_home_logged_out' %>

      <p class="mt-2 mx-2">
        Do you teach group classes? <br/>
        (Yoga, Pilates, Bootcamp, Spin) <br/>
        Are you a personal trainer? </p>
      <p class="mt-2 mx-2">
        Showcase your schedule, offerings & bio. <br/>
        Your own profile. In Minutes. <br/>
        All free </p>
      <p class="mt-2 mx-2">
        Reserve your <b>trainr.bio/name</b> today. </p>

      <%= link_to "I am a trainer/instructor", new_user_registration_url,  class: "btn btn-dark mt-5 mb-5" %>
      <br\>
      <div class="mt-5">
        <%= link_to image_tag("instagram.svg", height:'33', width:'33' ), "https://instagram.com/trainr.bio" %>
      </div>

      <p class="branding footer mt-3 mx-5"> trainr.bio 2020 </p>
    </div>
    <div class="col-1"></div>
  </div>
</div>
