<div class="container text-center">
  <div class="row mt-5 mb-5">
    <div class="col-1"></div>
    <div class="col-10">
      <h1 class="mb-5">trainr.bio</h1>

      <p class="mt-2 mx-2">
        Do you teach yoga, pilates, bootcamp, spin? <br/>
        Are you a personal trainer? </p>
      <p class="mt-2 mx-2">
        Showcase your schedule, offerings & bio. <br/>
        All Free. In Minutes. </p>
      <p class="mt-2 mx-2">
        Reserve your trainr.bio/username today. </p>

      <%= link_to "I am a trainer/instructor", "https://instagram.com/trainr.bio",  class: "btn btn-primary mt-5 mb-5" %>

      <%= link_to image_tag("../../assets/images/instagram.svg"), "https://instagram.com/trainr.bio" %>
      <div class="mt-3">
        <p><%= link_to "Our Instagram", "https://instagram.com/trainr.bio" %></p>
      </div>
      <%= image_to "https://instagram.com/trainr.bio",  class: "icon-up-arrow icon-white" %>
      <a href="https://instagram.com/trainr.bio" class="icon-instagram">
        <i class="icon-home icon-4x"></i>
        <span>Home</span>
      </a>

      <p class="footer mx-5"> trainr.bio 2020 </p>
    </div>
    <div class="col-1"></div>
  </div>
</div>
