<div class="container text-center">
  <div class="row mt-5 mb-5">
    <div class="col-1"></div>
    <div class="col-10">
      <h1 class="mb-5">trainr.bio</h1>

      <p class="mt-2 mx-2">
        Do you teach yoga, pilates, bootcamp, spin? <br/>
        Are you a personal trainer? </p>
      <p class="mt-2 mx-2">
        Showcase your schedule, offerings & bio. <br/>
        All Free. In Minutes. </p>
      <p class="mt-2 mx-2">
        Reserve your trainr.bio/username today. </p>

      <%= link_to "I am a trainer/instructor", "https://instagram.com/trainr.bio",  class: "btn btn-primary mt-5 mb-5" %>
      <br\>
      <div class="mt-5">
        <%= link_to image_tag("instagram.svg", height:'33', width:'33' ), "https://instagram.com/trainr.bio" %>
      </div>

      <p class="h-branding footer mt-3 mx-5"> trainr.bio 2020 </p>
    </div>
    <div class="col-1"></div>
  </div>
</div>
