<div class="container text-center">
  <div class="row mt-5 mb-5">
    <div class="col-2"></div>
    <div class="col-8">
      <h1 class="mb-5">trainr.bio</h1>

      <p class="mt-2">
        Do you teach yoga, pilates, bootcamp, spin? </p>
      <p> Are you a personal trainer? </p>
      <p class="mt-2">
        Showcase your schedule, offerings & bio. </p>
      <p> All Free. In Minutes. </p>
      <p class="mt-2">
        Reserve your trainr.bio/username today. </p>

      <button class="btn btn-primary btn-block mt-5 mb-5">
          I am a trainer/instructor
      </button>
      <div class="mt-3">
        <p><%= link_to "Our Instagram", "https://instagram.com/trainr.bio" %></p>
      </div>
      <p class="footer"> trainr.bio 2020 </p>
    </div>
    <div class="col-2"></div>
  </div>
</div>
