<div class="row text-center mt-4 mb-4">
  <div class="col-4"></div>
  <div class="col-4"><span class="schedule date"> No classes scheduled for this period </span></div>
  <div class="col-4"></div>
</div>
