$b: font-weight: bold;
$i: font-style: italic;
$abz: font-family: ABeeZee;

//font-size classes
$fs9: text-size: 18px;
$fs8: text-size: 22px;
$fs7: text-size: 24px;
$fs6: text-size: 26px;
$fs5: text-size: 28px;
$fs4: text-size: 30px;
$fs3: text-size: 32px;
$fs2: text-size: 36px;
$fs1: text-size: 38px;
$fs0: text-size: 48px;

$red: #eeeeee;
$black: #000000;
$light-grey: #555555;
$dark-grey: #777777;
$light-blue: #a8c6fa;
$blue: #0055cc;
$white: #ffffff;
