$abz: ABeeZee;

$font-size-0: 1em;
$font-size-1: 1.2em;
$font-size-2: 1.35em;
$font-size-3: 150%;
$font-size-4: 160%;
$font-size-5: 170%;
$font-size-6: 185%;
$font-size-7: 200%;
$font-size-8: 2.2em;
$font-size-9: 230%;
$font-size-10: 300%;

$red: #eeeeee;
$black: #000000;
$light-grey: #555555;
$dark-grey: #777777;
$light-blue: #a8c6fa;
$blue: #0055cc;
$white: #ffffff;

$brand-color-1: white;
$brand-color-2: grey;
$brand-color-3: black;

// $link-color: ;
// $primary-color: ;
// $secondary-color: ;
// $tertiary-color: ;
// $accent-color: ;
// $finish-color: ;
