$font-size-1: 18px;
$font-size-2: 22px;
$font-size-3: 24px;
$font-size-4: 26px;
$font-size-5: 28px;
$font-size-6: 30px;
$font-size-7: 32px;
$font-size-8: 36px;
$font-size-9: 48px;

$red: #eeeeee;
$black: #000000;
$light-grey: #555555;
$dark-grey: #777777;
$light-blue: #a8c6fa;
$blue: #0055cc; 
$white: #ffffff;
