// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
// @import "bootstrap-sprockets";
@import "bootstrap";
@import "profile";
@import "variables";

* {
	box-sizing: border-box;
}

body {
	font-family: Helvetica, sans-serif;
}

.grey-bottom-border {
  border-bottom: 1px solid #d3d3d3 !important;
}

.no-border {
  border: 0;
  box-shadow: none;
}

.main-header {
  font-size: $font-size-9;
  font-weight: bold;
}

.footer-link {
  display: block;
  text-align: center;
  color: $black;
}

.footer-link:hover {
  color: $light-grey;
  text-decoration: none;
}

#trainer-footer img {
  margin: auto;
}
