@import "bootstrap";
@import "profile";
@import "variables";
@import "texts";

// * {
// 	box-sizing: border-box;
// }

body {
	font-family: Helvetica, sans-serif;
	font-size: 16px;
}

.grey-bottom-border {
  border-bottom: 1px solid #d3d3d3 !important;
}

.color-bottom-border {
  border-bottom: 1px solid #d2b17c !important;
}

.no-border {
  border: 0;
  box-shadow: none;
}

.main-header {
  font-size: $font-size-9;
  font-weight: bold;
}

.footer-link {
  display: block;
  text-align: center;
  color: $black;
	margin-top: 10px;
	font-size: 10px;
}

.footer-link:hover {
  color: $light-grey;
  text-decoration: none;
}

#trainer-footer img {
  margin: auto;
}

.round-btn {
	border-radius: 32px;
}

.divider-right {
	border-right: 1px grey solid;
}

.icon-link {
	height: 32px;
}
