//Top Navbar Text (once per page for page title)
h1 {
  font-size: $font-size-6;
  font-style: italic;
  font-weight: bold;
  .edit {
    font-family: $abz;
  }
}

p {
  font-size: 88%;
}

//Page Division Header
// h2 {}

.toggle-link {
  font-size: $font-size-0;
}

.branding { //trainr.bio
  font-family: $abz;
  .main { //main page
    font-size: $font-size-10;
    font-style: italic;
  }
  .user { //trainr profile page (user URL)
    font-size: $font-size-5;
    font-style: italic;
  }
  .footer { //trainr.bio 2020
    font-size: $font-size-3;
    font-style: italic;
  }
}

.auth { //main header for signup/login
  font-family: $abz;
  font-size: $font-size-2;
}

.settings {
  font-size: $font-size-3;
  .h {
    font-style: italic;
  }
}

.trainr-name {
  .lg { //trainr profile
    font-size: $font-size-9;
  }
  .md { //search results, mytrainr list, studio list
    font-size: $font-size-6;
  }
  .sm { //mytrainr schedule card
    font-size: $font-size-4;
    font-style: italic;
    font-style: italic;
  }
}

.schedule {
  .title { //date, day of week
    font-size: $font-size-8;
  }
  .time {
    font-size: $font-size-4;
  }
  .session-name {
    font-size: $font-size-4;
    font-style: italic;
  }
  .studio-name { //username with @
    font-size: $font-size-2;
    color: $blue;
  }
}

.studio {
  .title {
    font-size: $font-size-7;
    font-style: italic;
  }
  .address {
    font-size: $font-size-3;
    font-style: italic;
  }
  .url {
    font-family: $abz;
    font-size: $font-size-5;
    font-style: italic;
  }
}

.trainr {
  .h2 { //Today, About Me, Certifications, etc
    font-size: $font-size-6;
    font-style: italic;
    font-style: italic;
  }
  .p { //quick bio, offering text, bio text
    font-size: $font-size-3;
  }
  .h3 { //certification
    font-size: $font-size-3;
    font-style: italic;
  }
  .offering-title {
    .lg {
      font-size: $font-size-8;
      font-style: italic;
      font-style: italic;
    }
    .regular {
      font-size: $font-size-6;
      font-style: italic;
      font-weight: bold;
    }
  }
}

.popup {
  font-size: $font-size-6;
  .blue {
    color: $blue;
  }
  .red {
    color: $red;
  }
}
