<div class="bg-light fixed-bottom" id="trainer-footer">
  <div class="container my-auto">
    <div class="row">
      <div class="col-6 divider-right">
        <%= link_to users_url, class: "footer-link" do %>
          <%= image_tag("search.svg", width: "18", height: "18") %>
          <p class="mt-1 mb-1">Search</p>
        <% end %>
      </div>
      <div class="col-6">
        <%= link_to home_url, class: "footer-link" do %>
          <%= image_tag("speed.svg", width: "18", height: "18") %>
          <p class="mt-1 mb-1">Login</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
