<div class="container">
  <div class="row text-center">
    <div class="col-4" style="border-style: solid; border-width: 1px;">
      <%= link_to user_profile_url(@user), class: "" do %>
        <p class="mt-1 mb-2">PROFILE</p>
      <% end %>
    </div>
    <div class="col-4" style="border-style: solid; border-width: 1px;">
      <%= link_to user_offers_url(@user), class: "" do %>
        <p class="mt-1 mb-2">OFFERINGS</p>
      <% end %>
    </div>
    <div class="col-4" style="border-style: solid; border-width: 1px;">
      <%= link_to user_bio_url(@user), class: "" do %>
        <p class="mt-1 mb-2">BIO</p>
      <% end %>
    </div>
  </div>
</div>
