<nav class="navbar navbar-light mt-3 mb-5">
  <div class="col-3">
    <%= link_to image_tag("back.jfif", height:'28', width:'28' ), :back %>
  </div>
  <div class="col-6 text-center">
    <h1 class="schedule title ml-auto mr-auto mt-1 my-auto">Weekly Schedule</h1>
  </div>
  <div class="col-3"></div>
</nav>
