<div class="container">
  <div class="row text-center mt-3">
    <div class="col-4">
      <h2 class="nav-secondary ml-auto mr-auto my-auto">PROFILE</h2>
    </div>
    <div class="col-4">
      <h2 class="nav-secondary ml-auto mr-auto my-auto">OFFERINGS</h2>
    </div>
    <div class="col-4">
      <h2 class="nav-secondary ml-auto mr-auto my-auto">BIO</h2>
    </div>
  </div>
</div>
