<div class="container">
  <div class="row text-center mt-3">
    <div class="col-4">
      <%= link_to profile_url, class: "footer-link" do %>
        <p class="mt-1 mb-1">PROFILE</p>
      <% end %>
    </div>
    <div class="col-4">
      <%= link_to offer_url(current_user), class: "footer-link" do %>
        <p class="mt-1 mb-1">OFFERINGS</p>
      <% end %>
    </div>
    <div class="col-4">
      <%= link_to bio_url(current_user), class: "footer-link" do %>
        <p class="mt-1 mb-1">BIO</p>
      <% end %>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="row text-center mt-3">
    <div class="col-4">
      <h2 class="nav-secondary ml-auto mr-auto my-auto">PROFILE</h2>
    </div>
    <div class="col-4">
      <h2 class="nav-secondary ml-auto mr-auto my-auto">OFFERINGS</h2>
    </div>
    <div class="col-4">
      <h2 class="nav-secondary ml-auto mr-auto my-auto">BIO</h2>
    </div>
  </div>
</div> -->

<!-- <div class="container">
  <div class="row text-center mt-3"> -->
    <!-- should use a unique id in future, but reusing the js code for now -->
    <!-- <ul class="nav nav-pills justify-content-center" role="tablist" id="searchTab">
      <li class="nav-item">
        <a class="schedule week-toggle mr-1 ml-1 active" id="profile-tab" href="#profile" data-toggle="pill" role="tab" aria-controls="profile" aria-selected="true">PROFILE</a>
      </li>
      <li class="nav-item">
        <a class="schedule week-toggle mr-1 ml-1" id="offering-tab" href="#offering" data-toggle="pill" role="tab" aria-controls="offering" aria-selected="false">OFFERING</a>
      </li>
      <li class="nav-item">
        <a class="schedule week-toggle mr-1 ml-1" id="bio-tab" href="#bio" data-toggle="pill" role="tab" aria-controls="bio" aria-selected="false">BIO</a>
      </li>
    </ul>
  </div>
</div> -->
