<div class="container">
  <div class="row text-center">
    <div class="col-4">
      <%= link_to user_profile_url(@user), class: "footer-link" do %>
        <p class="mt-1 mb-1">PROFILE</p>
      <% end %>
    </div>
    <div class="col-4">
      <%= link_to user_offers_url(@user), class: "footer-link" do %>
        <p class="mt-1 mb-1">OFFERINGS</p>
      <% end %>
    </div>
    <div class="col-4">
      <%= link_to user_bio_url(@user), class: "footer-link" do %>
        <p class="mt-1 mb-1">BIO</p>
      <% end %>
    </div>
  </div>
</div>
