<div class="container">
  <div class="row text-center mt-3">
    <div class="col-2"></div>
    <div class="col-8">
      <% if !@user.username.empty? %>
        <h1 class="nav-user ml-auto mr-auto my-auto">trainr.bio/<%= @user.username %></h1>
      <% end %>
    </div>
    <div class="col-2"></div>
  </div>
</div>
