<nav class="navbar navbar-expand-lg navbar-light mb-5">
  <%= link_to image_tag("instagram.svg", height:'33', width:'33' ), "https://instagram.com/trainr.bio" %>
  <%= link_to image_tag("back.jfif", class: "branding main"), :back %>
  <a class="ml-auto mr-auto branding main" href="/">trainr.bio</a> //main-header, navbar-brand
</nav>
