<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
  <%= link_to "<", :back, style: "font-size: 42px; text-decoration: none; color: #000000;" %>
  <a class="navbar-brand ml-auto mr-auto main-header" href="/"> @<%= @studio.username %> </a>
</nav>
